body{

	font: 'Raleway' ,sans-serif ;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	top: 15%;
	letter-spacing: .5em;
	background:linear-gradient(to right , red, yellow , blue);
}
h1{
	font: 400  2.5em 'Raleway' ,sans-serif ;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
}
h3{
	font: 900 .5em 'Raleway' ,sans-serif ;
	color: rgba(0,0,0);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	 

}
